SIR_sequential.exe
SEQUENTIAL/SIR_sequential_frontier.exe

SEQUENTIAL/generate_graph
SEQUENTIAL/SIR_sequential
SEQUENTIAL/generate_graph.exe
.vscode/
SIMD/SIR_SIMD.exe
SIMD/SIR_SIMD
.vs/

CUDA/EpidemicCUDA/EpidemicCUDA
CUDA/EpidemicCUDA/x64/
CUDA/EpidemicCUDA/EpidemicCUDA.sln
CUDA/EpidemicCUDA/EpidemicCUDA.vcxproj
CUDA/EpidemicCUDA/EpidemicCUDA.vcxproj.user

CUDA/EpidemicCUDA_v2/EpidemicCUDA_v2
CUDA/EpidemicCUDA_v2/x64/
CUDA/EpidemicCUDA_v2/EpidemicCUDA_v2.sln
CUDA/EpidemicCUDA_v2/EpidemicCUDA_v2.vcxproj
CUDA/EpidemicCUDA_v2/EpidemicCUDA_v2.vcxproj.user

GRAPH_GENERATOR/generate_graph.exe
SEQUENTIAL/SIR_sequential
SIMD/SIR_SIMD_matrix_v2
SEQUENTIAL/SIR_sequential
